<article>
	<h3>Contact</h3>

	<section class = "boxes">
		<article>
			<h4>Github</h4>
			<p>
				<a href = "https://github.com/rhotep/docLoop">{% include text_logo.hml %} repository</a><br/>
				<a href = "https://github.com/rhotep">rhotep</a>
			</p>

		</article>

		<article>
			<h4>Twitter</h4>
			<p>
				<a href = "https://twitter.com/docloopOER">@docloopOER</a><br/>
				<a href = "https://twitter.com/rhotep">@rhotep</a>
			</p>
		</article>

		<article>
			<h4>e-mail</h4>
			<p> 
				<a href = "mailto:andreas.pittrich@posteo.de">andreas.pittrich@posteo.de</a>
			</p>
		</article>

	</section>
</article>