<article>
	<h3>Current State</h3>
	<p>
		Development just started. So there is nothing to show for yet. Stay tuned though :)
	</p>

	<div>
		<div class = "image paperhive">	</div>
		<div class = "image arrow right">	</div>
		<div class = "image gihub">		</div>
	</div>

	<p>
		{% include text_logo.html %} will start has a github app turning annotations made on <a href = "https://paperhive.org">paperhive</a>
		into issues in your <a href = "https://github.com">github</a> repository.
	</p>

</article>