<article>
	<h3>Features to look out for in the future</h3>

	<ul>
		<li>Support for other annotion platforms, e.g. <a href ="https://web.hypothes.is/">hypothes.is</a>.</li>
		<li>Support for other version control repositories.  </li>
		<li>Let annotaters know, what happened to their Feedback. Keep them in the loop.</li>
		<li>Add a comment to the document, when an issue has been resolved.</li>
		<li>Have issues refer to the LaTeX source code line corresponding to a comment in the PDF.</li>
	</ul>

	<p>Is there a feature you would like to see on this list? Tell me :)</p>
</article>