<article>
	<h3>Ideal Use Case</h3>
	<p>
		Best case scenario is the author working on an open educational resource (<a href = "https://en.wikipedia.org/wiki/Open_educational_resources">OER</a>) using LaTeX and publishing the source code in an online repository.
	</p>

	<section class = "boxes">
		<article>
			<h4>Open Educational Resources</h4>
			<p>
				<a href = "https://en.wikipedia.org/wiki/Open_educational_resources">OER</a> are meant to be shared, forked and to incorporate reader's feedback.
			</p>

		</article>

		<article>
			<h4>Online Annotations</h4>
			<p> 
				Lots of Feedback will be given by readers who are not familiar with the authoring tools and cant be expected to learn the ropes of the author's issue tracking system.
			</p>
		</article>

		<article>
			<h4>Online Repository</h4>
			<p> 
				Online Repositories make it easy to share and fork content. Also: They usually come with version control and bug tracking system.
			</p>
		</article>


		<article>
			<h4>LaTeX</h4>
			<p> 
				Having a source code makes it alot easier to fork and update documents. Turning that code into PDFs makes it easy to annotate!
			</p>
		</article>

	</section>
</article>
