html{
	font-family:				sans-serif;	
	font-weight:				400;
	margin:						0;
	padding:					0;
}

body {
	margin:						0;
	padding:					0;

}

a {
	color:						#fff;
	text-decoration:			none;
	cursor:						pointer;
	border-bottom:				solid rgba(255,255,255,0.3) 1px;

}

a:hover {
	border-bottom:				solid #fff 1px;
}

body > section {
	overflow:					hidden;
	box-sizing:					border-box;
}

body > section:nth-child(2n+1){
	background:					#4444bb;
}

body > section:nth-child(2n){
	background:					#7788cc;
}
body > section.white {
	background:					#fff;
}

article {
	box-sizing:					border-box;
	padding:					2.5rem 1rem;
	min-height: 				10rem;
	text-align:					center;
	color:						#fff;
	max-width:					64rem;
	margin:						auto;

}

.text-logo {
	display:					inline-flex;
	font-family:				monospace;
	font-weight:				700;
	font-size:					1.1em;
}

.text-logo > * {
	flex:						0 0 auto;
}

h1 {
	font-size:					3em;
	margin:						1em 0;
	font-weight:				700;
}

h2 {
	font-size:					1.5em;
	margin:						1em 0;
	font-weight:				700;
}

h3 {
	font-weight:				1.25em;
	font-weight:				700;
}

h4 {
	font-size:					1.25em;
	font-weight:				400;
	margin:						0;
}

p {
	margin:						1rem auto;
}

article > p {
	max-width:					30rem;
	text-align:					left;
}

.boxes {
	display:					flex;
	flex-wrap:					wrap;
	justify-content:			space-around;

}

.boxes > * {
	flex:						1 0 0;
	max-width:					20rem;
	min-width:					15rem;
	margin:						1rem;
	text-align:					left;
}

.three {
	display:					flex;
	justify-content:			space-around;
	align-items:				center;
	flex-wrap:					wrap;
}

.three > * {
	margin:						1rem;
	flex:						1 1 auto;
} 


.image {
	height:						15rem;
	width:						10rem;
	background-size:			contain;
	background-position:		50% 50%;
	background-repeat:			no-repeat;	
}

.comments {
	background-image:			url(../images/comments.png);
}

.issues {
	background-image:			url(../images/issues.png);
}


.arrow-right {
	background-image:			url(../images/arrow_right.png);
}

.logos {
	display:					flex;
	justify-content:			space-around;
}

.logos > * {
	flex:						0 0 auto;
	height:						10rem;
	width:						15rem;
	margin:						0.5rem;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
}


.okf {
	background-image:			url(../images/OKFDE_Logo_black.svg);
}


.bmbf {
	background-image:			url(../images/BMBF_Logo.svg);
}


.prototype {
	background-image:			url(../images/prototype_fund.svg);
}

.paperhive {
	background-image:			url(../images/paperhive.svg);
	background-color:			rgba(255,255,255,0.4);
	border-radius:				1rem;
	width:						15rem;
	height:						10rem;
	border:						1rem solid transparent;
}

.github {
	background-image:			url(../images/GitHub_Logo.png);
	background-color:			rgba(255,255,255,0.4);
	border-radius:				1rem;
	width:						15rem;
	height:						10rem;
	border:						1rem solid transparent;

}

